@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --dark_blue_signbg: hsl(217, 28%, 15%);
  --dark_blue_main: hsl(218, 28%, 13%);
  --dark_blue_footer: hsl(216, 53%, 9%);
  --dark_blue_testbg: hsl(219, 30%, 18%);
  --cyan_inside_call_to_action: hsl(176, 68%, 64%);
  --blue_inside_call_to_action: hsl(198, 60%, 50%);
  --light_red: hsl(0, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --opensans_400_700: "Open Sans", sans-serif;
  --raleway_400_700: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark_blue_signbg);
  padding: 1.5rem;
}

header img {
  width: 30%;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navlinks a {
  text-decoration: none;
  color: var(--white);
  font-family: var(--raleway_400_700);
  font-size: 0.9rem;
  opacity: 0.8;
  position: relative;
}

.navlinks a::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color: var(--white);
  transform: scale(0, 1);
  transition: 0.3s;
}

.navlinks a:hover {
  opacity: 1;
}

.navlinks a:hover::before {
  transform: scale(1, 1);
}

.top_div {
  background-color: var(--dark_blue_signbg);
  background-image: url(./images/bg-curvy-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  padding: 2.2rem;
  text-align: center;
}

.top_div img {
  max-width: 100%;
}

.top_div h1 {
  color: var(--white);
  font-family: var(--raleway_400_700);
  font-weight: 700;
  font-size: 1.8rem;
  margin-block: 1.5rem;
}

.top_div p {
  color: var(--white);
  font-size: 1.07rem;
  font-family: var(--opensans_400_700);
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.started {
  cursor: pointer;
  border: none;
  color: var(--white);
  font-size: 1.2rem;
  font-family: var(--opensans_400_700);
  font-weight: 700;
  padding: 0.7em 4.5em;
  border-radius: 2rem;
  background-image: linear-gradient(
    90deg,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
}

.mid_div {
  background-color: var(--dark_blue_main);
  color: var(--white);
  padding: 6rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.card img {
  max-width: 100%;
}

.card h2 {
  font-family: var(--raleway_400_700);
  font-weight: 700;
  margin-top: 1.7rem;
  margin-bottom: 1rem;
}

.card p {
  font-family: var(--opensans_400_700);
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.8;
}

.bottom_div {
  background-color: var(--dark_blue_main);
  color: var(--white);
  padding: 3rem 2rem 6rem;
}

.bottom_div img {
  max-width: 100%;
}

.bottom_div h2 {
  font-family: var(--raleway_400_700);
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.bottom_div p {
  font-family: var(--opensans_400_700);
  font-weight: 400;
  line-height: 1.5rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.works {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  position: relative;
}

.works::before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 48%;
  height: 1px;
  border: none;
  background-color: var(--cyan_inside_call_to_action);
}

.works p {
  color: var(--cyan_inside_call_to_action);
  font-family: var(--opensans_400_700);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
}

.works img {
  max-width: 100%;
}

.comments_div {
  background-color: var(--dark_blue_main);
  color: var(--white);
  padding: 6rem 3rem 20rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: left 50px top 60px;
  background-size: 10%;
}

.comment {
  background-color: var(--dark_blue_testbg);
  padding: 1.5rem;
  border-radius: 0.2rem;
}

.comtext {
  font-family: var(--opensans_400_700);
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.7;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.name_pic {
  display: flex;
  gap: 0.5rem;
}

.name_pic img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.name_position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-family: var(--raleway_400_700);
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.position {
  font-family: var(--opensans_400_700);
  font-weight: 400;
  font-size: 0.7rem;
  opacity: 0.7;
}

footer {
  background-color: var(--dark_blue_footer);
  color: #fff;
  padding: 18rem 2rem 3rem;
  position: relative;
}

.access_div {
  position: absolute;
  min-width: 80%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dark_blue_signbg);
  color: var(--white);
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0.1rem;
}

.access_div h2 {
  font-family: var(--raleway_400_700);
  font-weight: 700;
  margin-bottom: 1rem;
}

.access_div p {
  font-family: var(--opensans_400_700);
  font-weight: 400;
  opacity: 0.7;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.bottom_logo {
  margin-bottom: 1.5rem;
}

.email_div {
  width: 100%;
  position: relative;
}

.email {
  border: none;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 2rem;
  margin-bottom: 1.7rem;
}

.error {
  position: absolute;
  left: 10px;
  bottom: 5px;
  color: var(--light_red);
  display: none;
}

.error.active {
  display: block;
}

.free {
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.1rem;
  font-family: var(--opensans_400_700);
  font-weight: 700;
  background-image: linear-gradient(
    90deg,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
}

.address,
.phone,
.email_icon {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.phone {
  margin-block: 2rem;
}

.address img,
.phone img,
.email_icon img {
  object-fit: contain;
}

.address p {
  font-family: var(--opensans_400_700);
  font-weight: 400;
  font-size: 1.2rem;
}

.email_icon p {
  font-family: var(--opensans_400_700);
  font-weight: 400;
}

.about_us {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.about_us a,
.contact a {
  text-decoration: none;
  color: inherit;
  font-family: var(--opensans_400_700);
  font-weight: 400;
  font-size: 1.2rem;
}

.contact {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4rem;
}

.social_links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social_links li {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
}

.social_links li:hover {
  background-color: var(--white);
}

.social_links li a {
  height: 100%;
  width: 100%;
  display: flex;
}

.social_links li a i {
  margin: auto;
  color: #fff;
  font-size: 1.5rem;
}

.social_links li:hover i {
  color: #000;
}

@media (min-width: 799px) {
  header {
    padding: 2.5rem;
  }

  header img {
    width: 15%;
  }

  .navlinks a {
    font-size: 0.85rem;
  }

  .top_div {
    background-image: url(./images/bg-curvy-desktop.svg);
    background-position: left 0 bottom 0;
    background-repeat: no-repeat;
    padding-inline: 12rem;
    padding-bottom: 8rem;
  }

  .mid_div {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: baseline;
    gap: 4rem;
    padding-inline: 6rem;
  }

  .bottom_div {
    display: flex;
  }

  .bottom_div > * {
    width: 50%;
  }

  .comments_div {
    flex-direction: row;
    background-size: 5%;
  }

  .access_div {
    min-width: unset;
    width: 60%;
  }

  .email_button {
    display: flex;
    gap: 2rem;
  }

  .free {
    font-size: 0.8rem;
  }

  .email_div {
    flex: 2;
  }

  .free {
    flex: 1;
  }

  .email {
    margin-bottom: unset;
  }

  .error {
    left: 20px;
    bottom: -20px;
  }
}

@media (min-width: 1400px) {
  header {
    padding: 3.5rem;
  }

  .navlinks {
    gap: 4rem;
  }

  .navlinks a {
    font-size: 1rem;
  }

  .top_div {
    padding-inline: 31rem;
    padding-bottom: 15rem;
  }

  .top_div h1 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    line-height: 3rem;
  }

  .top_div p {
    font-size: 1.35rem;
  }

  .mid_div {
    padding-inline: 25rem;
    gap: 7rem;
  }

  .card h2 {
    font-size: 1.3rem;
    opacity: 0.9;
  }

  .card P {
    font-size: 0.9rem;
  }

  .bottom_div {
    padding-inline: 10rem;
    align-items: center;
    gap: 5rem;
  }

  .bottom_div h2 {
    font-size: 2.5rem;
    padding-right: 15rem;
  }

  .bottom_div p {
    padding-right: 4rem;
  }

  .works {
    gap: 0.3rem;
  }

  .works::before {
    width: 30%;
  }

  .works p {
    padding-right: unset;
  }

  .comments_outer {
    background-color: var(--dark_blue_main);
  }

  .comments_div {
    padding-inline: 10rem;
    gap: 2rem;
    background-position: left 130px top 48px;
    background-size: 4%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .comment {
    padding: 2.5rem 2rem 1rem;
  }

  .comtext {
    font-size: 1.05rem;
  }

  .access_div {
    padding: 3rem 7rem 2.5rem;
    width: 50%;
  }

  .access_div h2 {
    font-size: 2.2rem;
  }

  .access_div p {
    font-size: 1rem;
  }

  footer {
    padding-inline: 7rem;
    padding-bottom: 8rem;
  }

  .footer_whole {
    display: flex;
  }

  .footer_left {
    display: flex;
    justify-content: baseline;
    width: 50%;
    gap: 8rem;
  }

  .footer_mid {
    display: flex;
    gap: 6rem;
    margin-left: auto;
    margin-right: auto;
  }

  .about_us {
    margin-top: unset;
    margin-bottom: unset;
  }

  .address,
  .phone,
  .email_icon {
    gap: 1.5rem;
  }

  .phone {
    margin-top: 0;
  }
}
